metadata:
  namespace: nsbootcamp67
  
server:
  port: 8082

spring:
  application:
    name: ms-customer
  data:
    monodb:
      uri: mongodb://

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoint:
    health:
      probes:
        enabled:  true

logging:
  level:
    root: INFO
  security: DEBUG